:root{
    --main-title-color:#FFFFFF;
    --secondary-title-color: #303030;
    --acccent-color: #FF6C00;
    --secondary-font: 'Raleway', sans-serif;
    --basic-margin: 20px;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    }
    .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px; 
    padding-right: 15px; 
        }
    .btn{
        font-family: inherit;
            font-weight: 600;
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            cursor: pointer;
            min-width: 160px;
            background-color: transparent;
            color: #FFFFFF;
            border: 1px solid var(--acccent-color);
            border-radius: 25px;
            padding: 12px 20px;
            transition: color 0.35s linear, background-color 0.35s linear;
    }
    .btn:is(:hover, :focus) {
        color: #FFFFFF;
        background-color: var(--acccent-color);
    }
    .title {
        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        line-height: 1, 17;
        letter-spacing: 0.05em;
    }
    .subtitle {
        font-weight: 600;
        font-size: 11px;
         line-height: 1,36;
        text-transform: uppercase;
        display: flex;
        align-items: center;
            }
    .subtitle::before{
        content: "";
        width: 60px;
        height: 1px;
        background-color: currentColor;
        display: block;
        margin-right:  20px;
        
    }
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
        img {
            display: block;
        }
/* -----------------------Header ---------------*/
   .header {
      padding: 32px 0;
     position: absolute;
     top: 0;
     left: 0;
    }
    .header-container {
        display: flex;
        align-items: center;
    }
    .list{
        list-style: none;
    }
    .link{
        text-decoration: none;
    }
   .header-navigation {
    display: flex;
    align-items: center;
    
   }

   .header-logo {
    margin-right: 132px ;
   }

   .header-list {
    display: flex;
    gap: 30px;
   }

   

   .header-link {
    
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em; 
    color: #FFFFFF;
    position: relative;
    transition: color 0.35s linear;
   }
.header-link:hover,.header-link:focus {
    color: var(--acccent-color);
}
.header-link.active {
    color: var(--acccent-color);
}
.header-link.active::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--acccent-color);
    position: absolute;
    left: 0;
    bottom: -10px;
}
   .header-tel {
    margin-left: auto;
    margin-right: 43px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
   }

   .header-btn {
    min-width: 160px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid var(--acccent-color);
    border-radius: 25px;
    padding: 12px 20px;
   }
   /* ------------------Hero ---------------*/
  
   .hero-container {
    display: flex;
   }

   .hero-list {
       width: 100px;
        display: flex;
        gap: 30px;
        transform: rotate(-90deg) translateX(100%);
        transform-origin: bottom-left;
        position: relative;
        padding-left: 90px;
   }
   .hero-list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
    position: absolute;
    left: 0;
    bottom: 7px;
   }
   .hero-list-wrap {
  display: flex;
    align-items: flex-end;
   }
   .hero-content{
    background-color: aqua;
    padding: 272px 100px 208px;
    flex-grow: 1;
    background-image:  linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/slider-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    

   }

  

   .hero-link {
        font-weight: 600;
        font-size: 11px;
        line-height: 1,36;
        letter-spacing: 0.2em;
        color: #303030;
        transition: color 0.35s linear;
    }
.hero-link:hover,.hero-link:focus {color: var(--acccent-color);}
   .hero-subtitle {
              color: rgba(157, 164, 189, 0.6);
   }
   .hero-subtitle {
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: var(--basic-margin);
   }
   .hero-title {
        font-family: 'Raleway', sans-serif;
        font-size: 72px;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color:var(--main-title-color);
        margin-bottom: var(--basic-margin);
   }
   /* .hero-title::before { 
 content: "";
 
   }
   .hero-title::after {
    display: block;

 content: "";
 width: 20px;
 height: 20px;
 background-color: #FF6C00;
   }*/
   .hero-description {
        max-width: 360px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: #9DA4BD;}
    /* ---------------About------------- */
    .about {
        padding: 120px 0;
    }
    .about-content {
        width: 50%;
        max-width: 470px;
        margin-left: 30px;
    }
    .about-container {
        display: flex;
       
    }
    .about-list {
        display: flex;
        gap: 30px;
        width: 50%;
    }
    
    .about-item {
        width: calc((100%-30px)/2)
    }
    
    .about-subtitle {
        color: var(--secondary-title-color);
        margin-bottom: var(--basic-margin);
    }
    
    .about-title {
        font-family: 'Raleway', sans-serif;
        font-size: 42px;
        line-height: 1,17;
        letter-spacing: 0.05em;
        color: var(--secondary-title-color);
        margin-bottom: var(--basic-margin);
    }
    
    .about-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1,86;
        letter-spacing: 0.02em;
        color: #555555;
        margin-bottom: 42px;
    }
        .about-description span {
        display: block;
        font-size: 18px;
        line-height: 1,67;
        margin-bottom: var(--basic-margin);

    }
    .about-btn{
       
        color: #303030;
    }
    /* -------------------Prices--------- */
        .prices {
            padding: 120px 0;
            background-color: #111319;
            background-image: url(../images/slider-prices.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    
        .prices-subtitle {
         color: rgba(157, 164, 189, 0.6);
         margin-bottom: var(--basic-margin);
        }
    
        .prices-title {
            
            color: var(--main-title-color);
            margin-bottom: 44px;
        }
        .prices-content {
            display: flex;
            gap: 30px;
            margin-bottom: 44px;
            
        }
    
        .prices-list {
            border: 1px solid green;
            width: calc((100% - 30px) / 2);
            padding: 30px 20px;
            flex-grow: 1;
        }
    
        
    
        .prices-item {
        display: flex;
           justify-content: space-between;
            gap: 12px;
                align-items: baseline;
        }
        .prices-item::before {
            content: '';
           
            height: 1px;
            background: rgba(157, 164, 189, 0.12);
            display: inline-block;
            flex-grow: 1;
          


        }
        .prices-item:not(:last-child) {
            margin-bottom: var(--basic-margin);
        }
    
        .prices-item-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 1,67;
            letter-spacing: 0.02em;
            color: #9DA4BD;
        }
        .prices-item-text:first-child {
         order: -1;
        }
    
        .prices-btn {
            display: block;
            margin: auto;
            color: #FFFFFF;       
        }
        /* ----------------Benefits------- */
                .benefits {
                    padding: 120px;
                }
        
                .benefits-list {
                    width: 45% ;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 30px;
                    padding-left: 70px;
                }
        
                .benefits-item:nth-child(even) {
                    margin-top: 30px;

                }
               .benefits-container {
                display: flex;
               }
               .benefits-item {
                width: 170px;
                height: 132px;
                padding: 20px 24px;
                background-color: #F7F7F7;
               }
               
                .benefits-item > span {
                    font-weight: 700;
                        font-size: 42px;
                        line-height: 1,36;
                        text-align: center;
                        letter-spacing: 0.05em;
                    
                        color: #303030;
                        display: flex;
                        align-items: flex-start;
                        position: relative;
                }
                 .benefits-item>span::after {
                     content: '+';
                     font-weight: 600;
                     font-size: 16px;
                     line-height: calc(22/16);
                     color: var(--acccent-color);
                     position: absolutete;
                     top: 5px;
                     right: 0;
                 }
                .benefits-item-text {
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 1,36;
                    text-align: center;
                    color: #303030;
                }
                .benefits-content {
                    width: 55%;
                    max-width: 500px;
                }
        
                .benefits-subtitle {
                 color: #303030;
                 margin-bottom: var(--basic-margin);

                }
        
                .benefits-title {
                   
                        color: var(--secondary-title-color);
                        margin-bottom: var(--basic-margin);
                }
        
                .benefits-description {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1,67;
                    letter-spacing: 0.02em;
                    color: #555555;
                }
/* ------------Barbers------------------- */


.barbers-subtitle {
         color: var(--secondary-title-color);
         margin-bottom: var(--basic-margin);
}

.barbers-title {
    color: var(--secondary-title-color);
    margin-bottom: 44px;
}

.barbers-list {
    display: flex;
    flex-wrap: wrap;
     /* gap: 30px;  */
     row-gap: 50px;
     column-gap: 30px;
  
    }
   
.barbers-item {
    width: calc((100% - 60px)/3);
}

.barbers-content {
    padding: 30px;

}

.barbers-item-title {
        font-size: 18px;
        line-height: 1,39;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--secondary-title-color);
        margin-bottom: 8px;
}

.barbers-item-text {
        font-size: 14px;
        line-height: 1,36;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--acccent-color);
}
.barbers-social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers-social-item {
    width: 44px;
    height: 44px;
}

.barbers-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: gray ;
    color: #000;
    transition: color 0.35s linear, background-color 0.35s linear;
}
.barbers-social-link:is(:hover, :focus) { 
    background-color: #FF6C00;
    color: white;
   
}
/* .barbers-social-link:is(:hover, :focus) .barbers-social-link {
fill: white;

} */
 .barbers-social-icon {
   
    fill: currentColor;
}
.barbers-top-wrap {
    position: relative;
    overflow: hidden;
}
.barbers-item:hover .barbers-item-text-overlay {
    transform: translateY(0);
}
.barbers-item-text-overlay {
    color: #FFFFFF;
    background-color: #FF6C00;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     transform: translateY(100%);
    transition: transform 0.35s linear;
    overflow: auto; 
}
/* ---------------Gallery--------- */
.gallery {
    padding: 120px 0;
}

.gallery-subtitle {
        color: var(--secondary-title-color);
        margin-bottom: 44px;
}



.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-item {
    width: calc((100% - 90px)/4)
}
/* --------------------Contact---------- */
.contact {
    background-color: #191C26;
    padding-top: 130px;
    padding-bottom: 120px;
    background-image: url(../images/slider-contact.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 45% 100%;
        
    
}
.contact-container {
display: flex;
}
.contact-form {
    width: 50%;
}
.contact-wrap {
padding-left: 100px;

    width: 50%;
}
.contact-title {
    color: var(--main-title-color);
    margin-bottom: 40px;
}

.contact-address {
    font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1,67 ;
       letter-spacing: 0.02em;
    
        color: #9DA4BD;
        margin-bottom: 70px;
}



.contact-item {
    margin-bottom: var(--basic-margin);
}

.contact-link {
    font-size: 18px;
        line-height: 1,67;
        letter-spacing: 0.02em;
    
        color: #9DA4BD;
}

.contact-subtitle {
color: var(--main-title-color);
margin-bottom: var(--basic-margin);
}

.contact-hours {
    font-weight: 400;
        font-size: 18px;
        line-height: 1,67;
        letter-spacing: 0.02em;
        color: #9DA4BD;
}
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top:0;
    left: 0;
    transition: opasity 0.35s linear, visibility 0.35s linear;

}

.modal {
    width: 500px;
    min-height: 500px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.35s linear;


}

.modal-close {
    width: 30px;
    height: 30px;
    display: block;
    border: 1px solid #000;
    border-radius: 50%;
    color: #000;
    margin-left: auto;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(0);
}
.modal-title {
    font-style: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    height: 45px;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 5px 10px ;
    padding-left: 32px;
    outline: transparent;

    
}
.form-input::placeholder {
    /* color: #b94646; */
}
.form-input:not(:focus):not(:placeholder-shown):valid {
    background-color: chartreuse;
    
}
.form-input:not(:focus):not(:placeholder-shown):invalid {
    background-color: crimson;
}
.form-btn {
    color: #303030;
}
.form-label span {
    display: block;
    margin-bottom: 10px;
    color: #303030;
}
.form-control {
    position: relative;
    
} 
.form-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-input:focus {
    border-color: #FF6C00;
}
.form-input:focus+.form-icon {
    fill: var(--acccent-color);
}
.form-textarea {
    display: block;
    width: 100%;
    min-height: 80px;
    border: 1px solid #303030;
    border-radius: 4px;
    padding: 5px 10px;
    resize: vertical;
  
}
/* .form-label-checkbox {
    font-size: 14px;
    font-weight: 16px;
    color: #303030;
    display: flex;
    align-items: center;
} */
.form-label-checkbox::before {
    /* content: "";
    width: 16px;
    height: 16px;
    border: 2px solid #303030;
    border-radius: 4px;
    margin-right: 8px; */

}
.form-checkbox:checked +.form-label-checkbox::before {
    background-color: var(--acccent-color);
    border-color: var(--acccent-color);
    background-image: url();
    background-repeat: no-repeat;
background-position: center; 
}
.form-label-checkbox span {
    width: 16px;
    height: 16px;
    border: 2px solid #303030;
        border-radius: 4px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 0.35s, fill 0.35s;
}
.form-checkbox:checked + .form-label-checkbox span {
    fill: red;
    background-color: #000;
    border-color: #000;
}
.form-group-checkbox {
    margin-top: 40px;
    max-height: 22px;
}
.form-check-label {
    position: relative;
}
.form-check-label::before {
    content: "";
    display: block;
    width: 40px;
    height: 22px;
    border: 1px solid #999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.form-check-label::after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background-color: var(--acccent-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.35s;
}
.form-checkbox:checked + .form-check-label::after {
    transform: translateX(18px);
}
.form-checkbox:checked + .form-check-label::before {
    background-color: #999;
}
.form-checkbox:focus + .form-check-label::before {
    outline: 1px solid var(--acccent-color);
}
.input-text {
    width: 100%;
    height: 24px;
    border: none;
    background-color: transparent;
   border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    color: #fff;
    font-weight: 600;
        font-size: 11px;
        line-height: calc(15/11);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        transition: border 0.35s, color 0.35s;
        padding-bottom: 8px;
}
.input-text::placeholder {
color: rgba(157, 164, 189, 0.4);
 
}
.input-text:focus {
border-bottom-color: #fff;
outline: none;
}
.input-text:focus::placeholder {
    color: #fff;
}
.contact-form {
    padding-right: 30px;

}
.contact-form-textarea {
    min-height: 76px;
    resize: none;
}
.contact-form-inner {
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    width: 100%;
    margin-bottom: 44px;
}

.form-group:nth-child(1), .form-group:nth-child(2) {
    width: 50%;
}
.form-group:nth-child(1) {
    padding-right: 15px;
}
.form-group:nth-child(2) {
    padding-left: 15px;
}